@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: HankenGrotesk;
}
header {
    margin-bottom: 128px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 440px;
    margin: auto;
}

/* ========== left part ========== */

.left {
    width: 50%;
    height: 440px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 40px;
    z-index: 10;
}
.left-container {
    margin-top: -10px;
}

.left-container h3 {
    color: hsla(222, 100%, 96%, 0.706);
    margin-bottom: 30px;
}
.circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    aspect-ratio: 1;
    width: 72%;
    height: 72%;
    margin: 0 auto;
    position: relative;
}
.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.circle h1 {
    font-weight: 800;
    font-size: 3.5rem;
}
.circle h4 {
    color: hsla(222, 100%, 96%, 0.355);
}
.left-container h2 {
    margin: 20px auto;
    font-weight: 500;
}
.left-container p {
    color: hsla(222, 100%, 96%, 0.706);
}

/* ========== right part ========== */

.right {
    width: 53%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.114);
    margin-left: -3%;
}
.right-container {
    height: 100%;
}
.right-container h3 {
    color: hsl(224, 30%, 27%);
    margin-left: 15px;
    font-weight: 800;
}
ul {
    margin-top: 25px;
    margin-right: -15px;
    margin-bottom: 30px;
}
li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
}
.row {
    margin: 15px;
    border-radius: 10px;
    padding: 12px;
    width: 90%;
}
.reaction {
    background: hsla(0, 100%, 67%, 0.060);
}
.red {
    color: hsla(0, 100%, 67%, 0.750);
}
.memory {
    background: hsla(39, 100%, 56%, 0.060);
}
.yellow {
    color: hsla(39, 100%, 56%, 0.750);
}
.verbal {
    background: hsla(166, 100%, 37%, 0.060);
}
.green {
    color: hsla(166, 100%, 37%, 0.750);
}
.visual {
    background: hsla(234, 85%, 45%, 0.060);
}
.blue {
    color: hsla(234, 85%, 45%, 0.750);
}
img {
    margin-right: 10px;
    vertical-align: text-bottom;
}
.letter {
    width: 70%;
}
.number {
    width: 30%;
    color: hsla(224, 30%, 27%, 0.451);
}
span {
    color: hsl(224, 30%, 27%);
}
button {
    margin: 15px;
    border-radius: 100px;
    padding: 12px;
    width: 95%;
    margin-right: -15px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-weight: 700;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== media query ========== */

@media screen and (max-width: 630px) {
    body {
        background: black;
    }
    header {
        display: none;
    }
    main {
        display: block;
        width: 100%;
    }
    .left {
        width: 375px;
        height: 93%;
        margin: 0 auto;
        margin-top: -30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        opacity: 0.99;
    }
    .left-container h3 {
        margin-top: 25px;
    }
    .circle {
        width: 50%;
        margin: auto;
    }
    .right {
        width: 375px;
        min-height: 50vh;
        margin: 0 auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        margin-top: -7%;
        z-index: 5;
        border-radius: 0;
        background: white;
    }
    .right-container {
        margin-top: 15px;
        display: grid;
    }
    .right-container h3 {
        margin-top: 20px;
    }

    .row {
        margin: 15px;
        border-radius: 10px;
        padding: 20px;
        width: 90%;
    }
    button {
        padding: 20px;
        margin-top: -5px;
        font-size: 18px;
    }
    footer {
        display: none;
    }
}
@media screen and (max-width: 390px) {
    main {
        width: 90%;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        margin-top: -9%;
    }
    .row {
        margin: 15px;
        border-radius: 10px;
        padding: 12px;
        width: 90%;
        font-size: 0.9rem;
    }
}